body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(24,57,106);
  background: linear-gradient(60deg, rgba(24,57,106,1) 0%, rgba(255,255,255,1) 100%); 
  font-family: 'Poppins', sans-serif;
  color: white;
  position: relative;
}

.title {
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 86px;
  text-align: center;
  color: white;
  text-shadow:
    0 0 5px white,
    0 0 10px rgba(255, 255, 255, 0.8);
}

.subtitle {
  text-align: center;
  font-style: normal;
  font-size: 24px;
  color: white;
  text-shadow:
    0 0 5px white,
    0 0 10px white;
}
